<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="Artifactory" value="http://localhost:8081/artifactory/api/nuget/nuget-virtual" />
  </packageSources>
  <packageSourceCredentials>
    <Artifactory>
      <add key="Username" value="admin" />
      <add key="ClearTextPassword" value="API_KEY_OU_PASSWORD" />
    </Artifactory>
  </packageSourceCredentials>
</configuration>